.awsm-example {
    background: rgba(40, 40, 40, 0.1);
    padding: 1em;
    border: 1px solid rgba(40, 40, 40, 0.1);
    margin-bottom: 2em;

    &:nth-child(2n) {
        background: rgb(255, 255, 255);
    }
}

.awsm-nowrap {
    white-space: nowrap;
}

.awsm-50 {
    box-sizing: content-box;
    width: 50%;
    border: 2px solid #555;
}


footer {
    margin-top: 4em;
}
